include README.rst
include skbold/data/ROIs/*.nii.gz
include skbold/data/ROIs/yeo/*
include skbold/data/ROIs/harvard_oxford/bilateral/*.nii.gz
include skbold/data/ROIs/harvard_oxford/unilateral/*.nii.gz
include skbold/data/test_data/*/design.con
include skbold/data/test_data/*/*/*
include skbold/data/test_data/mvp_data/*

